@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}


/* Footer */
.box:hover .luminance {
      background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 5vw;
      font-family: "Source Sans Pro", sans-serif;
      animation: reveal 2000ms ease-in-out forwards 300ms,
        glow 2500ms linear infinite 2000ms;
  
}

/* Define the reveal animation */
@keyframes reveal {
  80% {
    letter-spacing: 1.5px;
  }

  100% {
    background-size: 200% 200%;
  }
}

/* Define the glow animation */
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #4064f4;
  }
}

.box input[type="text"] {
  height: 2.3rm;
  width: calc(100% + 55px);
  outline: none;
  border: 2px olid #afafb6;
  border-radius: 4px;
  font-size: 15px;
  margin-top: 5px;
  background-color: red;
}

@media (max-width: 607px) {
  .box:hover .link_name {
    background: rgb(51, 187, 224);
    background: linear-gradient(75deg, rgba(51, 187, 224, 1) 0%, rgba(234, 100, 232, 1) 38%, rgba(12, 238, 135, 1) 65%, rgba(229, 81, 240, 1) 100%);
    background-clip: text;
    color: transparent;
    font-size: 0.95rem;
    font-weight: bold;
  }
}

/* vinay scheduler */
.scheduler-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.calendar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-container .react-datepicker-wrapper {
  flex: 1;
}

.calendar-container button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.appointments {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.appointment-item:last-child {
  border-bottom: none;
  /* Remove border from last appointment item */
}

.appointment-details {
  display: flex;
  flex-direction: column;
}

.appointment-name {
  font-weight: bold;
}

.appointment-date {
  margin-top: 5px;
}

.appointment-actions button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
}

/* about us */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");



.aboutus {
  font-family: "Montserrat Medium";
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.aboutus span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.aboutus span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.aboutus span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.aboutus span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.aboutus span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.aboutus span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* loader  */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: red;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}